@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Reseta margens e espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de linha divisória */
hr {
    border: none;
    height: 1px;
    background-color: #2C694D;
    margin: 5px; 
}

/* Corpo da página */
body
{
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
}

/* Cabeçalho */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f6051;
    padding: 20px 50px;
    color: white;
    gap: 15px;
}


.logo img {
    height: 60px;
    width: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.notification {
    background-image: url(/pmg-es-2024-2-ti1-2401100-potencial-senior/codigo/imgs/bell-fill.svg); 
    filter: invert(1);
}

.user {
    background-image: url('/pmg-es-2024-2-ti1-2401100-potencial-senior/codigo/imgs/person-circle.svg'); 
    filter: invert(1);
}

.content_header
{
    display: flex;
}

/* Estilo do conteúdo principal */
main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    font-size: 30px;
    color: #2C694D;
    text-align: center;
    font-family: "Poppins", sans-serif;
}


p {
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
    font-family:'Open Sans', sans-serif;
}

h2 {
    color: #2C694D;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Foto de perfil */
.foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.foto-perfil img {
    margin-top: 15px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ccc;
}

.foto-perfil input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    cursor: pointer;
}

/* Seções do formulário */
.dados-pessois {
    display: flex;
    flex-direction: column;     
    gap: 10px;                 
    flex: 1;                  
}

.dados-pessoais-section {
    display: flex;              
    justify-content: space-between; 
    align-items: flex-start;    
    gap: 20px;                  
    margin-bottom: 20px; 
}

/* Botões */
button {
    background-color: #2C694D;
    color: white;
    border: none;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family:'Inter', sans-serif;
}

button:hover {
    background-color: #1e4d36;
}

.button-formacao, .button-profissao {
    padding: 10px 15px; 
    border-radius: 10px; 
    cursor: pointer; 
    text-align: center; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
    flex-shrink: 0;
    font-family: 'Inter', sans-serif;
}

.buttonsalva-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* Containers */
.escolaridade-container, .profissao-container {
    display: flex; 
    align-items: center; 
    gap: 20px;
    flex-wrap: wrap;
}

.fomacao-academica {
    display: flex; 
    flex-direction: column; 
    gap: 10px;
}

.formacao-grupo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Inputs */
label {
    margin-bottom: 7px; 
    display: block;
    font-family:'Open Sans', sans-serif;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input:focus, textarea:focus {
    outline: 2px solid #2C694D; 
    border-color: #2C694D;
    background-color: #f3fdf7;
}

/* Grupos de Inputs */
.idade-nacionalidade, .endereco, .contato {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.radio-group {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    align-items: center; 
    margin-bottom: 15px; 
}

footer {
    background-color: #f5f5f5;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.footer-section {
    flex: 1;
    margin: 0 15px;
}

.footer-section h3 {
    color: #1c5d51;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p {
    color: #333;
    font-size: 0.9em;
    line-height: 1.5;
    text-align:start;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
}

.footer-section ul li a:hover {
    color: #1c5d51;
}

.social-media .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-media .icon {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
}


/* Responsividade */
@media (max-width: 768px) {
    .escolaridade-container, .profissao-container {
        flex-direction: column; 
        gap: 10px;
    }

    .input-group, .input-group2, .input-group3 {
        flex: 1 1 100%; 
        min-width: auto;
    }

    .button-formacao, .button-profissao {
        width: 100%;
    }
}
