* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr {
    border: none;
    height: 1px;
    background-color: #2C694D;
    margin: 5px; 
}


body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

header {
    background-color: #2C694D;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 12%;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    font-size: 24px;
    color: #2C694D;
    text-align: center;
}

p {
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    color: #2C694D;
    margin-top: 20px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.foto-perfil input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    cursor: pointer;
}

.foto-perfil img {
    margin-top: 15px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ccc;
}
.dados-pessois{
    display: flex;
    flex-direction: column;     
    gap: 10px;                 
    flex: 1;                  
}
.dados-pessoais-section{
    display: flex;              
    justify-content: space-between; 
    align-items: flex-start;    
    gap: 20px;                  
    margin-bottom: 20px; 
}

button {
    background-color: #2C694D;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}


button:hover {
    background-color: #1e4d36;
}

.escolaridade-container{
    display: flex; 
    align-items:center; 
    gap:100px; 
}
.profissao-container{
    display: flex; 
    align-items:center; 
    gap:105px; 
}

.button-formacao {
    padding: 8px 10px; 
    border-radius: 10px; 
    cursor: pointer; 
    height: 40px;
    width: 600px;
    text-align: center; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
}

.buttonsalva-container{
    display: flex; 
    justify-content: center; 
    align-items: center; 
   


}

.button-profissao {
    padding: 8px 10px; 
    border-radius: 10px; 
    cursor: pointer; 
    height: 40px;
    width: 600px;
    text-align: center; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
}

.fomacao-academica{
    display: flex; 
    flex-direction: column; 
}
label {
    margin-bottom: 7px; 
    display: block;
}

.radio-group {
    display: inline-flex; 
    justify-content: center; 
    gap: 40px; 
    align-items: center; 
}
.endereco{
    display: flex; 
    flex-wrap: wrap; 
}
.contato{
    display: flex; 
    flex-wrap: wrap; 
}

.input-group {
    flex: 1;
}
.input-group2{
    flex: 1;
    min-width: 200px;
}
.input-group3{
    flex: 1;
    min-width: 560px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;

}

.idade-nacionalidade {
    display: flex;
    gap: 20px;
}

textarea {
    resize: vertical;
}


