@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f6051;
    padding: 20px 50px;
    color: white;
    gap: 15px;
    margin-bottom: 0;
}


.logo img {
    height: 60px;
    width: auto;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0px 15px;
    font-weight: 600;
}

.nav-links a:hover {
    text-decoration: underline;
}


.content_header
{
    display: flex;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: -5px; 
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px; 
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container
{
    margin-top: 0;
    padding: 0px;
}
.secao
{
    width: 100%;
    background-color: #f5f5f5;
}
.processo {
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
  }
  
  .processo h1 {
    font-size: 24px;
    color: #004d40;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  .processo p {
    display: flex;
    font-size: 18px;
    margin-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color:#262626;
  }
  
  .etapas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 20px 0;
    gap: 40px; /* Aumenta o espaço entre as etapas */
    font-family:'Open Sans', sans-serif;
    font-weight: 600;
  }
  
  .etapas::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
    height: 2px;
    background-color: #ccc;
    z-index: 0;
    transform: translateY(-50%);
  }
  
  .etapa {
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #888;
    margin: 0 15px 40px;
  }
  
  .etapa i {
    font-size: 20px;
    display: block;
    margin: 0 auto 5px;
    color: #ccc;
  }
  
  .etapa.ativa {
    color: #004d40;
  }
  
  .etapa.ativa i {
    color: #004d40;
  }

  
  .botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn-rejeitar {
    width: 285px;
    height: 50px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  }
  
  .btn-rejeitar:hover {
    background-color: #b71c1c;
  }
  
  .btn-avancar {
    width: 285px;
    height: 50px;
    background-color: #0A5C46;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'inter', sans-serif;
    font-weight: 600;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
  
  .btn-avancar:hover {
    background-color: #2e7d32;
  }
  

#inicio {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}


.dados-pessoais {
    color: #0A5C46;
    margin-left: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


p {
    color: #606060;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

hr {
   width: 85%;
   margin-left: 100px;
   border: 0.1px solid #0A5C46;
   margin-top: 15px;
}

#perfil {
    display: flex;
    margin-left: 100px;
    margin-top: 70px;
    gap: 45px;
}

#perfil img {
    width: 120px;
}

#perfil p:first-of-type {
    margin-top: 20px; 
}

#perfil p {
    margin-top: 10px;
}

.text-sizing h1
{
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}
#localidade h1 {
    color: #0A5C46;
    margin-left: 100px;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.h1-geral {
    color: #0A5C46;
    margin-left: 100px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.geral {
    margin-left: 100px;
    margin-top: 30px;
    font-weight: 600;
    
}
address p {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.p-baixo {
    margin-top: 10px;
}

#resumo-profissional p {
    width: 85%;
    font-family: 'Open Sans', sans-serif;
}

#escolaridade {
    font-family: 'Open Sans', sans-serif;
}

#historico-profissional p {
    width: 85%;
    font-family: 'Open Sans', sans-serif;
}

#complementares ul {
    color: #606060;
    margin-left: 120px;
    font-family: 'Open Sans', sans-serif;
}

#contate-conosco{
    margin-bottom: 50px;
}

#contate-conosco h2
{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
}
#contate-conosco button:hover {
    background-color: #0A5C46;
    color: white;
    cursor: pointer;
}

#contate-conosco p {
    color:#FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

#contate-conosco button {
    background-color: #FFFFFF;
    color:#0A5C46;
    border: #0A5C46;
    border-radius: 15px;
    width: 140px;
    height: 50px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 10pt;
    z-index: 3;
}

#div-container {
    background-color: #0A5C46;
    border-radius: 7px;
    width: 68%;
    margin-top: 100px;
    margin-left: 180px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 25px;
}

footer {
    background-color: #f5f5f5;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
}

.footer-section {
    flex: 1;
    margin: 0 15px;
}
.footer-section h3 {
    color: #1c5d51;
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.footer-section p {
    color: #606060;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #606060;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
}

.footer-section ul li a:hover {
    color: #1c5d51;
}

.social-media .social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-media .icon {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
}